<ion-header>
  <ion-toolbar>
    <ion-title color="light">Adicionar Acasalamento</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Macho</ion-label>
      <ion-select placeholder="Selecione um">
        <ion-select-option *ngFor = "let bird of (maleBirds | async)" value = "bird.id"> {{bird.name}} </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-button (click) = "openPicker('female')">Selecione uma Fémea</ion-button>
      <ion-label class = 'name'> {{ female.name }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-button expand = 'block' size = 'large' id = 'btnRecord' (click)="recordMating()">Registrar Acasalamento</ion-button>
</ion-content>
