<ion-header>
  <ion-toolbar>
    <ion-title color="light">Adicionar Acasalamento</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-padding-top">
    <ion-item>
      <ion-label>Macho</ion-label>
      <ion-select [(ngModel)] = "mating.idFather" (ionChange) = "selectMale()" placeholder = "Selecione">
        <ion-select-option *ngFor = "let bird of (maleBirds | async)" value = {{bird.id}}> {{bird.name}} </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Fêmea</ion-label>
      <ion-select [(ngModel)] = "mating.idMother" (ionChange) = "selectFemale()" placeholder = "Selecione">
        <ion-select-option *ngFor = "let bird of (femaleBirds | async)" value = {{bird.id}}> {{bird.name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-input type = 'number' placeholder = 'Informe o número da gaiola' [(ngModel)] = "mating.idCage"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button class="round" expand="block" size="large" id = 'btnRecord' (click)="recordMating()">Registrar Acasalamento</ion-button>
</ion-content>
