<ion-header>
  <ion-toolbar>
    <ion-title color="light">Adicionar Acasalamento</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-button (click) = "openPicker(type = 'macho')">Selecione um Macho</ion-button>
      <ion-label class = 'name'> {{ macho }} </ion-label>
    </ion-item>

    <ion-item>
      <ion-button (click) = "openPicker()">Selecione uma Fémea</ion-button>
      <ion-label class = 'name'> {{ femea }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-button expand = 'block' size = 'large' id = 'btnRecord' (click)="recordMating()">Registrar Acasalamento</ion-button>
</ion-content>
