<ion-header>
  <ion-toolbar>
    <ion-title color="light" *ngIf="!isSearchOpened">
      Ovos
    </ion-title>
    <ion-buttons slot="start">
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item button *ngFor="let couple of (coupleBirds | async)" [routerLink]="['/couple', couple.id]">
    <ion-thumbnail slot="start">
      <img src="https://www.gravatar.com/userimage/166912858/94da2a9d05237b126b16465d2b21fb94?size=120">
    </ion-thumbnail>
    <ion-label>
      Ovos de {{ couple.name }}
    </ion-label>
  </ion-item>

</ion-content>