<ion-header>
  <ion-toolbar>
    <ion-title color="light" *ngIf="!isSearchOpened">
      Passaros
    </ion-title>
      <ion-icon [ngClass]="ion-icon-teste" name="search" color="light" *ngIf="!isSearchOpened" (click)="isSearchOpened=true" size="large" slot="end"></ion-icon>
    <ion-searchbar
    animated
    placeholder="Buscar Passaros..." 
    *ngIf="isSearchOpened"
    mode="md"
    showCancelButton="always"
    (ionCancel)="isSearchOpened=false; refreshBirds($event);"
    (ionChange)="filterList($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item button *ngFor="let bird of (birds | async)" [routerLink]="['/bird', bird.id]">
    <ion-thumbnail slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-thumbnail>
    <ion-label>
      {{ bird.name }}
      <ion-icon size="small" slot="icon-only" *ngIf ="bird.gender =='Male'"src="assets/macho.svg"></ion-icon>
      <ion-icon  size="small" slot="icon-only" *ngIf ="bird.gender =='Female'"src="assets/femea.svg"></ion-icon>
    </ion-label>
  </ion-item>

</ion-content>


<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/bird">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
</ion-fab>