.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

ion-item {
  --ion-background-color: primary;
  --box-shadow: none;
}

ion-icon-teste{
  margin-right: 20px !important;
  font-size: 30px; //Preferred size here
}