<ion-header>
  <ion-toolbar>
    <ion-title color="light" *ngIf="!isSearchOpened">
      Pássaros
    </ion-title>
      <ion-icon [ngClass]="ion-icon-teste" name="search" color="light" *ngIf="!isSearchOpened" (click)="isSearchOpened=true" size="large" slot="end"></ion-icon>
    <ion-searchbar
    animated
    placeholder="Buscar Passaros..." 
    *ngIf="isSearchOpened"
    mode="md"
    showCancelButton="always"
    (ionCancel)="isSearchOpened=false; refreshBirds($event);"
    (ionChange)="filterList($event)">
    </ion-searchbar>

    <ion-buttons slot="start">
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item button *ngFor="let bird of (birds | async)" [routerLink]="['/bird', bird.id]">
    <ion-thumbnail slot="start">
      <img src="https://www.gravatar.com/userimage/166912858/34a74d12f23ee8a66077b65b933315a2?size=120">
    </ion-thumbnail>
    <ion-label>
      {{ bird.name }}
      <ion-label color="gray" size="small" slot="start">Anilha: {{bird.anilha}}</ion-label>
    </ion-label>
    <ion-icon size="small" slot="end" *ngIf ="bird.gender =='Male'"src="assets/macho.svg"></ion-icon>
    <ion-icon  size="small" slot="end" *ngIf ="bird.gender =='Female'"src="assets/femea.svg"></ion-icon>
  </ion-item>

</ion-content>


<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/bird">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
</ion-fab>