<ion-header>
  <ion-toolbar>
    <ion-title color="light">Reprodução</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-thumbnail>
        <img src= "https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-thumbnail>
      <ion-label>
        <h3> Pai </h3>
        <p color="gray"> Descrição do Pai </p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label margin="20">Anilha</ion-label>
      <ion-label color="gray" class="ion-text-end">#1122323</ion-label>
    </ion-item>

    <ion-item>
      <ion-label margin="20">Cor</ion-label>
      <ion-label color="gray" class="ion-text-end">preto</ion-label>
    </ion-item>

    <ion-item>
      <ion-label margin="20">Linhagens</ion-label>
      <ion-label color="gray" class="ion-text-end">Fi de alguém</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-thumbnail>
        <img src= "https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-thumbnail>
      <ion-label>
        <h3> Mãe </h3>
        <p color="gray"> Descrição da Mãe </p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label margin="20">Anilha</ion-label>
      <ion-label color="gray" class="ion-text-end">#3333333</ion-label>
    </ion-item>

    <ion-item>
      <ion-label margin="20">Cor</ion-label>
      <ion-label color="gray" class="ion-text-end">amarelo</ion-label>
    </ion-item>

    <ion-item>
      <ion-label margin="20">Linhagens</ion-label>
      <ion-label color="gray" class="ion-text-end">Fi de alguém</ion-label>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-label margin="20">Data de gala:</ion-label>
    <ion-label  color="gray" class="ion-text-end">
      <ion-datetime displayFormat = "DD-MM-YYYY" placeholder="Selecione a Data"  class="ion-text-end"></ion-datetime>
    </ion-label>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-button expand="block"><h5>Finalizar Reprodução</h5></ion-button>
</ion-footer>