<ion-header>
  <ion-toolbar>
    <ion-title>Reprodução</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <ion-thumbnail>
        <img src= "https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-thumbnail>
      <ion-label>
        <h3> Pai </h3>
        <p class = 'description'> Descrição do Pai </p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h3> Anilha </h3>
      </ion-label>
      <ion-label align = 'right' class = 'description'>
        #1122323
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h3> Cor </h3>
      </ion-label>
      <ion-label align = 'right' class = 'description'>
        preto
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h3> Linhagens </h3>
      </ion-label>
      <ion-label align = 'right' class = 'description'>
        Fi de alguém
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-thumbnail>
        <img src= "https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-thumbnail>
      <ion-label>
        <h3> Mãe </h3>
        <p class = 'description'> Descrição da Mãe </p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h3> Anilha </h3>
      </ion-label>
      <ion-label align = 'right' class = 'description'>
        #3333333
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h3> Cor </h3>
      </ion-label>
      <ion-label align = 'right' class = 'description'>
        amarelo
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h3> Linhagens </h3>
      </ion-label>
      <ion-label align = 'right' class = 'description'>
        Fi de alguém
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-label>
      <p> Data de gala: </p>
    </ion-label>
    <ion-label align = 'right'>
      <ion-datetime displayFormat = "DD-MM-YYYY" placeholder="Selecione a Data" class = 'date'></ion-datetime>
    </ion-label>
  </ion-item>

  <ion-button expand= 'block' size = 'large' id = 'btnFinalizar'> Finalizar Reprodução </ion-button>

</ion-content>
