h3{
  padding-left: 30px;
}

p{
  font-size: 13px;
  padding-left: 30px;
}

.description{
  color: #9c9c9e;
}


.date{
  padding-right: 20px;
}

#btnFinalizar{
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;

}
